# 端口
PORT=3000

# [实验性] 是否启用 API GET 请求缓存, 1开启 0关闭，缓存位置为系统临时目录( /tmp 或者 %TEMP% )
ENABLE_CACHE=0

# 请求来源域名白名单，不限制的话留空
ACCEPT_DOMAINS="localhost,example1.com,example2.com"
# 请求来源 User-Agent 黑名单，不限制的话留空
UA_BLACKLIST="curl,bot,got,python,java,request,http,scan,inspect,netcraft"

# Pixiv Cookie, 用于 Pixiv Web 端 API 调用
PIXIV_COOKIE="PHPSESSID=123_xxxxxxx"
# Pixiv Refresh Token, 用于 Pixiv App 端 API 调用
PIXIV_ACCOUNT_TOKEN="token"
# 备用 Pixiv Refresh Token, 用于 Token 轮换/负载均衡
PIXIV_ACCOUNT_TOKEN_ALTS="token1,token2,token3"

# 备用 HibiAPI 服务域名，用于除 Pixiv 部分的 API 转发；只用 Pixiv API 的可忽略
HIBIAPI_BASE="hibiapi2.cocomi.eu.org"
# saucenao.com 网站的 API Key, 用于以图搜图
SAUCENAO_API_KEY=
# 硅基流动平台的 API Key, 用于 Pixiv 小说 AI 翻译
SILICONClOUD_APT_KEY=
